<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Authors'}) %>
    <body>
        <%- include('../partials/navbar') %>
        <!---->
        <% authors.forEach(a =>{%>
        <a href="authors/<%= a.author.toLowerCase().split(' ').join('-') %>"><%= a.author %></a>
        <button id="authors/<%= a.author.toLowerCase().split(' ').join('-') %>" class="delete-btn">delete</button>
        <%}) %>
    </body>
    <script>
        const deleteButton = document.querySelector(".delete-btn");
        deleteButton.addEventListener("click", () => {
            fetch(`${deleteButton.getAttribute("id")}`, {
                method: "DELETE",
            })
                .then(res => res.json())
                .then(res => (window.location.href = res.redirect));
        });
    </script>
</html>
