<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Tuna - Authors', cssPath: '/css/authors.css'}) %>
    <body>
        <%- include('../partials/navbar') %>
        <!---->
        <div class="authors-container">
            <h1>Authors</h1>
            <% authors.forEach(a =>{%>
            <div>
                <a href="authors/<%= a.author.toLowerCase().trim().split(' ').join('_') %>"><%= a.author %></a>
                <button id="authors/<%= a.author.toLowerCase().split(' ').join('-') %>" class="delete-btn">DELETE</button>
            </div>
            <%}) %>
        </div>
    </body>
    <script>
        const deleteButton = document.querySelector(".delete-btn");
        deleteButton.addEventListener("click", () => {
            fetch(`${deleteButton.getAttribute("id")}`, {
                method: "DELETE",
            })
                .then(res => res.json())
                .then(res => (window.location.href = res.redirect));
        });
    </script>
</html>
