<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: book.title, cssPath: '/css/details.css'}) %>
    <body>
        <%- include('../partials/navbar') %>
        <!---->
        <% console.log(book) %>
        <div class="details-container">
            <img src="<%= book.image %>" alt="book cover" />
            <div>
                <span>
                    <h1><%= book.title %></h1>
                    <p>by <em><%= book.author %></em></p>
                </span>
                <p><%= book.genre ? book.genre.join(', ') : '' %></p>
                <p><%= book.review %></p>
                <p>Review by <em><%= book.username %></em></p>
            </div>
            <div>
                <p><%= book.votes %></p>
                <button id="<%= book.id %>" class="vote-btn"><img class="image-btn" /></button>
            </div>
        </div>
        <div class="edit-container">
            <button id="<%= book.id %>" class="update-btn">UPDATE</button>
            <button id="<%= book.id %>" class="delete-btn">DELETE</button>
        </div>
    </body>
    <%- include('./update') %>
    <script>
        const voteButton = document.querySelector(".vote-btn");
        const buttonImage = document.querySelector(".image-btn");
        const deleteButton = document.querySelector(".delete-btn");
        const updateButton = document.querySelector(".update-btn");
        // need to have a unique id so that all books have their own voting state.
        const userHasVoted = localStorage.getItem(`userHasVoted-${voteButton.getAttribute("id")}`);

        if (!JSON.parse(userHasVoted)) {
            localStorage.setItem(`userHasVoted-${voteButton.getAttribute("id")}`, false);
            buttonImage.src = "/icons/heart0.svg";
        } else {
            buttonImage.src = "/icons/heart1.svg";
        }

        console.log(localStorage);

        voteButton.addEventListener("click", () => {
            if (!JSON.parse(userHasVoted)) {
                buttonImage.src = "/icons/heart1.svg";
                localStorage.setItem(`userHasVoted-${voteButton.getAttribute("id")}`, true);

                fetch(`/books/${voteButton.getAttribute("id")}?field=upvote`, {
                    method: "POST",
                }).then(res => location.reload());
            } else {
                buttonImage.src = "/icons/heart0.svg";
                localStorage.setItem(`userHasVoted-${voteButton.getAttribute("id")}`, false);

                fetch(`/books/${voteButton.getAttribute("id")}?field=downvote`, {
                    method: "POST",
                }).then(res => location.reload());
            }
        });

        deleteButton.addEventListener("click", () => {
            fetch(`/books/${deleteButton.getAttribute("id")}`, {
                method: "DELETE",
            })
                .then(res => res.json())
                .then(res => (window.location.href = res.redirect));
        });

        updateButton.addEventListener("click", () => {
            const updateForm = document.querySelector("dialog");
            const closeFormButton = document.querySelector(".close-dialog");

            updateForm.showModal();

            closeFormButton.addEventListener("click", () => updateForm.close());
        });
    </script>
</html>
