<!DOCTYPE html>
<html lang="en">
    <body>
        <%- include('../partials/navbar') %>
        <a href="/books/add" style="display: block">add new book</a>
        <!-- VOTES -->
        <button><a href="/books/sort?sortBy=votes&order=asc">votes-asc </a></button>
        <button><a href="/books/sort?sortBy=votes&order=desc">votes-desc </a></button>
        <!-- TITLE -->
        <button><a href="/books/sort?sortBy=title&order=asc">title-asc </a></button>
        <button><a href="/books/sort?sortBy=title&order=desc">title-desc </a></button>
        <%- include('../partials/head', {title: 'Books'})%> <% books.forEach(book => { %>
        <img src="<%= book.image %>" alt="" />
        <h4><a href="/books/<%=book.id%>"><%= book.title %></a></h4>
        <p><em><%= book.author %></em></p>
        <p><em><%= book.votes %> votes</em></p>
        <% }) %>
    </body>
</html>
