<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Tuna - Books', cssPath: '/css/list.css'})%>
    <body>
        <%- include('../partials/navbar') %>
        <main>
            <div class="side-bar">
                <!-- VOTES -->
                <p>SORT BY VOTES:</p>
                <div>
                    <span>
                        <a href="/books/sort?sortBy=votes&order=asc"><button type="radio"></button></a>
                        <p>Ascending</p>
                    </span>
                    <span>
                        <a href="/books/sort?sortBy=votes&order=desc"><button></button></a>
                        <p>Descending</p>
                    </span>
                </div>
                <!-- TITLE -->
                <p>SORT BY TITLE:</p>
                <div>
                    <span>
                        <a href="/books/sort?sortBy=title&order=asc"><button></button></a>
                        <p>Ascending</p>
                    </span>
                    <span>
                        <a href="/books/sort?sortBy=title&order=desc"><button></button></a>
                        <p>Descending</p>
                    </span>
                </div>
                <a href="/books/add" style="display: block">Add a new book</a>
            </div>
            <div class="book-container">
                <% books.forEach(book => { %>
                <a href="/books/<%= book.id %>">
                    <div>
                        <div class="book-wrapper"><img src="<%= book.image %>" alt="" /></div>
                        <h4><%= book.title %></h4>
                        <p><em><%= book.author %></em></p>
                    </div>
                </a>
                <% }) %>
            </div>
        </main>
    </body>
</html>
